{% extends 'base.html.twig' %}
{% block section %}
<h3><center>Cette page affichera la liste des entreprises proposant un stage <center></h3>
{% endblock %}



        {% block head1 %}    Entreprise      {% endblock %}
        {% block head2 %}    Adresse         {% endblock %}
        {% block head3 %}    Activité        {% endblock %}
        {% block head4 %}    siteWeb         {% endblock %}

  

{% block contenuTab %}
    <tbody>
        {% for entrepriseCourante in entreprises %}
            <tr>
            <th scope="row">{{entrepriseCourante.nom}}</th>
            <td>{{entrepriseCourante.adresse}}</td>
            <td>{{entrepriseCourante.siteWeb}}</td>
            <td>{{entrepriseCourante.siteWeb}}</td>

            </tr>
            {% endfor %}

    </tbody>
{% endblock %}
