{% extends 'base.html.twig' %}

{% block title %}Hello ProstagesController!{% endblock %}

{% block contenuTab %}
    <tbody>
        {% for stageCourant in stages %}
            <tr>
            <th scope="row">{{stageCourant.titre}}</th>
            <td>{{stageCourant.entreprise.nom}}</td>
            <td>{{stageCourant.entreprise.adresse}}</td>
            <td>formation</td>

            </tr>
            {% endfor %}

    </tbody>
{% endblock %}