{% extends 'base.html.twig' %}

{% block title %}Hello ProstagesController!{% endblock %}

{% block contenuTab %}
    <tbody>
        {% for stageCourant in stages %}
            <tr>
            <th scope="row"><a href="{{path('prostages_stage',{id:stageCourant.id})}}"> {{stageCourant.titre}} </a> </th>
            <td>{{stageCourant.entreprise.nom}}</td>
            <td>{{stageCourant.entreprise.adresse}}</td>
            <td>formation</td>

            </tr>
            {% endfor %}

    </tbody>
{% endblock %}